* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a,
a:hover,
button,
button:hover,
.anime {
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  cursor: pointer; }

ul,
li {
  margin: 0;
  padding: 0; }

body {
  background-color: #eaeaea;
  font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.83vmax;
  line-height: 1vmax; }

.container {
  width: 81.67vw;
  margin: 0 auto;
  position: relative; }

.btn {
  overflow: hidden;
  padding: 0.67vw 1.33vw;
  cursor: pointer;
  background-color: transparent;
  border-radius: 0.33vw;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase; }

.green-btn {
  border: 1px solid #8ad592;
  color: #8ad592; }
  .green-btn svg {
    fill: #8ad592; }

.header__top {
  width: 100%;
  height: 9.25vw;
  background-color: #2e2e30;
  color: #fff; }
  .header__top .container {
    height: inherit;
    margin-top: -2px; }
  .header__top .sign_in {
    border: 1px solid #ededed;
    margin-right: 5.17vw;
    color: #fff; }
    .header__top .sign_in:hover {
      background-color: #fff;
      color: #3c3d41; }
    .header__top .sign_in svg {
      width: 1.33vw;
      height: 1.33vw;
      margin-right: 1.83vw;
      fill: #7e7e7e; }
  .header__top .location,
  .header__top .currency {
    font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
    font-size: 1.17vmax;
    line-height: 1.4vw;
    color: #aaa; }
    .header__top .location span,
    .header__top .currency span {
      margin-left: 1.08vw;
      font-size: 0.83vmax;
      line-height: 1vmax;
      font-weight: 700;
      letter-spacing: 0.3em;
      text-transform: uppercase;
      color: #fff; }
  .header__top .currency {
    margin-right: 6.17vw; }
    .header__top .currency span {
      letter-spacing: 0.27em; }
  .header__top .logo {
    display: block;
    width: 13vw;
    height: 3.33vw;
    margin-left: 30px;
    margin-top: -7px; }
    .header__top .logo a {
      display: block;
      width: 13vw;
      height: 3.33vw;
      text-decoration: none; }
    .header__top .logo svg {
      fill: #fff; }
  .header__top .cart {
    margin-top: 3px;
    padding: 0.75vw 1.83vw 0.75vw 1.58vw; }
    .header__top .cart:hover {
      background-color: #8ad592;
      color: #fff; }
      .header__top .cart:hover svg {
        fill: #fff; }
    .header__top .cart svg {
      width: 1.25vw;
      height: 1.17vw;
      margin-right: 1.33vw;
      fill: #8ad592; }

.menu {
  width: 100%;
  height: 4.17vw;
  background-color: #fff; }
  .menu .container {
    height: inherit; }
    .menu .container ul {
      height: inherit; }
      .menu .container ul li {
        height: inherit;
        list-style: none; }
      .menu .container ul a {
        height: inherit;
        padding: 0 1.5vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        font-size: 1.08vmax;
        font-weight: 700;
        letter-spacing: 0.06em;
        text-decoration: none;
        text-transform: uppercase;
        color: #3c3d41; }
        .menu .container ul a:hover {
          background-color: #3c3d41;
          color: #fff; }
    .menu .container .search_btn {
      position: absolute;
      right: 0;
      margin-top: 2px;
      cursor: pointer; }
      .menu .container .search_btn svg {
        width: 1.5vw;
        height: 1.5vw;
        fill: #3c3d41; }

.banner {
  width: 100%;
  height: 16.67vw;
  background: radial-gradient(ellipse closest-side at 50% 50%, #d7e8ec 0%, #c2d1d1 100%); }
  .banner__description h1 {
    margin: 0 0 0.75vw;
    font-size: 4.33vmax;
    line-height: 5.2vmax;
    text-transform: capitalize;
    letter-spacing: -0.05em;
    text-align: center; }
  .banner__description p {
    margin: 0;
    font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
    font-size: 1.17vmax;
    line-height: 1.66vmax;
    color: #666;
    text-align: center; }
  .banner .container {
    height: inherit;
    position: relative; }
  .banner img {
    height: 16.67vw;
    width: auto;
    position: absolute;
    right: 6.17vw; }
