@import url(../css/vendors/jquery-ui.min.css);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a,
a:hover,
button,
button:hover,
.anime {
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  cursor: pointer; }

ul,
li,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0; }

body {
  background-color: #eaeaea;
  font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.83vmax;
  line-height: 1vmax; }

.container {
  width: 81.67vw;
  margin: 0 auto;
  position: relative; }

.rounded_box {
  border-radius: 0.33vw; }

.btn {
  overflow: hidden;
  padding: 0.67vw 1.33vw;
  cursor: pointer;
  background-color: transparent;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase; }

.green-btn {
  border: 1px solid #8ad592;
  color: #8ad592; }
  .green-btn svg {
    fill: #8ad592; }

.header__top {
  width: 100%;
  height: 9.25vw;
  background-color: #2e2e30;
  color: #fff; }
  .header__top .container {
    height: inherit;
    margin-top: -2px; }
  .header__top .sign_in {
    border: 1px solid #ededed;
    margin-right: 5.17vw;
    color: #fff; }
    .header__top .sign_in:hover {
      background-color: #fff;
      color: #3c3d41; }
    .header__top .sign_in svg {
      width: 1.33vw;
      height: 1.33vw;
      margin-right: 1.83vw;
      fill: #7e7e7e; }
  .header__top .location,
  .header__top .currency {
    font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
    font-size: 1.17vmax;
    line-height: 1.4vw;
    color: #aaa; }
    .header__top .location span,
    .header__top .currency span {
      margin-left: 1.08vw;
      font-size: 0.83vmax;
      line-height: 1vmax;
      font-weight: 700;
      letter-spacing: 0.3em;
      text-transform: uppercase;
      color: #fff; }
  .header__top .currency {
    margin-right: 6.17vw; }
    .header__top .currency span {
      letter-spacing: 0.27em; }
  .header__top .logo {
    display: block;
    width: 13vw;
    height: 3.33vw;
    margin-left: 30px;
    margin-top: -7px; }
    .header__top .logo a {
      display: block;
      width: 13vw;
      height: 3.33vw;
      text-decoration: none; }
    .header__top .logo svg {
      fill: #fff; }
  .header__top .cart {
    margin-top: 3px;
    padding: 0.75vw 1.83vw 0.75vw 1.58vw; }
    .header__top .cart:hover {
      background-color: #8ad592;
      color: #fff; }
      .header__top .cart:hover svg {
        fill: #fff; }
    .header__top .cart svg {
      width: 1.25vw;
      height: 1.17vw;
      margin-right: 1.33vw;
      fill: #8ad592; }

.menu,
.footer_menu {
  width: 100%;
  height: 4.17vw;
  background-color: #fff; }
  .menu .container,
  .footer_menu .container {
    height: inherit; }
    .menu .container .search_btn,
    .footer_menu .container .search_btn {
      position: absolute;
      right: 0;
      margin-top: 2px;
      cursor: pointer; }
      .menu .container .search_btn svg,
      .footer_menu .container .search_btn svg {
        width: 1.5vw;
        height: 1.5vw;
        fill: #3c3d41; }
  .menu ul,
  .footer_menu ul {
    height: inherit; }
    .menu ul li,
    .footer_menu ul li {
      height: inherit;
      list-style: none; }
    .menu ul a,
    .footer_menu ul a {
      height: inherit;
      padding: 0 1.67vw;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-size: 1.08vmax;
      font-weight: 700;
      letter-spacing: 0.06em;
      text-decoration: none;
      text-transform: uppercase;
      color: #3c3d41; }

.menu a:hover {
  background-color: #3c3d41;
  color: #fff; }

.footer_menu a:hover {
  text-decoration: underline; }

.banner {
  width: 100%;
  height: 16.67vw;
  margin-bottom: 4.25vmax;
  background: radial-gradient(ellipse closest-side at 50% 50%, #d7e8ec 0%, #c2d1d1 100%); }
  .banner__description h1 {
    margin-bottom: 0.75vw;
    font-size: 4.33vmax;
    line-height: 5.2vmax;
    text-transform: capitalize;
    letter-spacing: -0.05em;
    text-align: center; }
  .banner__description p {
    margin: 0;
    font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
    font-size: 1.17vmax;
    line-height: 1.66vmax;
    color: #666;
    text-align: center; }
  .banner .container {
    height: inherit;
    position: relative; }
  .banner img {
    height: 16.67vw;
    width: auto;
    position: absolute;
    right: 6.17vw; }

.left_panel {
  width: 19.16vw; }

.product__types {
  margin-bottom: 1.65vmax;
  background-color: #fff; }
  .product__types_item {
    width: 100%;
    cursor: pointer; }
  .product__types .item__title {
    padding: 1.65vmax 1.65vmax 1.5vmax;
    border-bottom: 1px solid #ededed;
    font-size: 0.92vmax;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #3c3d41; }
    .product__types .item__title:last-child {
      border-bottom: none; }
    .product__types .item__title.open svg {
      fill: #838d8f;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
    .product__types .item__title svg {
      width: 5px;
      height: 8px;
      fill: #b8c6c7; }
  .product__types .item__links {
    height: 0;
    overflow: hidden;
    background-color: #838d8f; }
    .product__types .item__links.open {
      height: auto; }
    .product__types .item__links ul {
      padding: 1.65vmax; }
    .product__types .item__links li {
      margin-bottom: 0.83vmax;
      list-style: none; }
      .product__types .item__links li:last-child {
        margin-bottom: 0; }
    .product__types .item__links a {
      font-size: 1.08vmax;
      font-weight: 400;
      line-height: 1.2;
      text-transform: capitalize;
      text-decoration: none;
      color: #daddde; }
      .product__types .item__links a:hover {
        font-weight: 700;
        color: #fff; }

.product__types_item:first-of-type .item__title {
  padding: 1.75vmax 1.65vmax 1.65vmax; }

.product__types_item:last-of-type .item__title {
  padding: 1.65vmax 1.65vmax 1.5vmax; }

.filter_box {
  margin-bottom: 1.75vmax;
  background-color: #fff; }
  .filter_box h3 {
    padding: 1.58vmax;
    border-bottom: 1px solid #ededed;
    font-size: 0.92vmax;
    font-weight: 700;
    letter-spacing: 0.19em;
    text-transform: uppercase;
    color: #3c3d41; }

.filter__list {
  padding: 1.75vmax 1.58vmax 0.83vmax; }
  .filter__list li {
    margin-right: 0.66vmax;
    margin-bottom: 0.83vw;
    list-style: none; }
    .filter__list li:nth-child(5n) {
      margin-right: 0; }
  .filter__list label {
    width: 2.67vmax;
    height: 2.67vmax;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    border-radius: 50%; }
    .filter__list label:hover {
      -webkit-transform: scale(1.15);
              transform: scale(1.15); }
  .filter__list input[type="checkbox"] {
    display: none; }
    .filter__list input[type="checkbox"]:checked + label {
      border: 1px solid #2e2e30;
      -webkit-transform: scale(1.15);
              transform: scale(1.15); }

.product__sizes .filter__list label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  font-size: 0.92vmax;
  font-weight: 500;
  text-transform: uppercase;
  color: #3c3d41; }

.product__sizes .filter__list input[type="checkbox"]:checked + label {
  background-color: #838d8f;
  border: none;
  color: #fff;
  -webkit-transform: none;
          transform: none; }

.product__prices .price_slider {
  padding: 2.33vmax 1.75vmax 1.75vmax; }
  .product__prices .price_slider .ui-widget-content {
    background-color: #eee;
    border: none; }
  .product__prices .price_slider .ui-slider-horizontal {
    height: 2px; }
  .product__prices .price_slider .ui-slider-range {
    background-color: #838d8f;
    border: none; }
  .product__prices .price_slider .ui-slider-handle {
    width: 1.33vmax;
    height: 1.33vmax;
    top: -0.66vmax;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #838d8f; }
  .product__prices .price_slider #slider {
    margin-bottom: 1.25vw; }
  .product__prices .price_slider .selected_prices input {
    width: 30%;
    border: none;
    font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
    font-size: 1.08vmax;
    font-weight: 400;
    color: #878787;
    text-align: center; }
    .product__prices .price_slider .selected_prices input:focus {
      border: none;
      outline: none; }

.products__gallery {
  width: 60.83vw; }

.products__list {
  margin-bottom: 1.5vmax; }

.products__item {
  width: 19.16vw;
  height: 25vmax;
  padding: 1.92vmax;
  margin-right: 1.67vw;
  margin-bottom: 1.75vmax;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  text-decoration: none;
  text-align: center; }
  .products__item:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }
  .products__item:nth-child(3n) {
    margin-right: 0; }
  .products__item_image {
    width: 13.33vw;
    height: 13.33vw;
    margin-top: -0.42vmax;
    margin-bottom: 1.83vmax;
    overflow: hidden; }
    .products__item_image img {
      width: auto;
      height: 100%; }
  .products__item h2 {
    margin-bottom: 0.26vmax;
    font-size: 1.25vmax;
    letter-spacing: -0.015em;
    line-height: 1.5vmax;
    font-weight: 700;
    color: #3a3d3f; }
  .products__item_tags {
    margin-bottom: 0.42vmax;
    font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 1vmax;
    line-height: 1.2vmax;
    color: #838c8d; }
  .products__item_price {
    font-size: 1.08vmax;
    font-weight: 600;
    line-height: 1.08vmax;
    color: #393d3f; }
  .products__item_sticker {
    padding: 0.42vmax;
    position: absolute;
    top: 1.65vmax;
    right: 1.65vmax;
    z-index: 1;
    background-color: #84ce8b;
    font-size: 0.83vmax;
    font-weight: 700;
    line-height: 1vmax;
    letter-spacing: 0.2vmax;
    text-transform: uppercase;
    color: #fff; }

#load_more_btn {
  width: 100%;
  padding: 1.17vmax;
  margin-bottom: 6.67vmax;
  background-color: #b8c6c7;
  border: none;
  font-size: 1.25vmax;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff; }
  #load_more_btn:hover {
    -webkit-transform: scale(0.98);
            transform: scale(0.98); }

footer {
  width: 100%;
  padding: 3.33vw;
  background-color: #fff; }
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  footer .footer_menu {
    margin-bottom: 1.67vw; }
    footer .footer_menu a {
      padding: 0 1vw;
      letter-spacing: 0.021em; }
  footer .newsletters {
    margin-bottom: 2.92vw; }
    footer .newsletters h3 {
      margin-right: 1.65vmax;
      font-size: 0.92vmax;
      font-weight: 700;
      letter-spacing: 0.17em;
      text-transform: uppercase;
      color: #3c3d41; }
    footer .newsletters input {
      width: 18.82vw;
      height: 2.67vmax;
      padding: 1vw;
      background-color: #eaeaea;
      background-image: url("../images/icons/mail.png");
      background-repeat: no-repeat;
      background-position: 95% 50%;
      border: none;
      font-size: 1vmax;
      font-weight: 400;
      color: #666; }
      footer .newsletters input:focus {
        border: none;
        outline: none; }
  footer .socials li {
    margin-right: 2.92vw;
    list-style: none; }
    footer .socials li:last-child {
      margin-right: 0; }
    footer .socials li a {
      text-decoration: none; }
  footer .socials svg {
    fill: #838d8f; }
    footer .socials svg:hover {
      -webkit-transform: scale(1.5);
              transform: scale(1.5); }
  footer .socials .facebook {
    width: 0.67vw;
    height: 1.33vw; }
  footer .socials .twitter {
    width: 1.58vw;
    height: 1.08vw; }
  footer .socials .instagram {
    width: 1.25vw;
    height: 1.25vw; }
