.banner {
    width: 100%;
    height: $wsize-200px;

    background: radial-gradient(ellipse closest-side at 50% 50%, rgb(215,232,236) 0%, rgb(194,209,209) 100%);

    &__description {
        h1 {
            margin: 0 0 $wsize-9px;
            
            font-size: $font-size-52px;
            line-height: $line-height-62_4px;
            text-transform: capitalize;
            letter-spacing: -0.05em;
            text-align: center;
        }

        p {
            margin: 0;

            font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
            font-size: $font-size-14px;
            line-height: $line-height-20px;
            color: $font-grey;
            text-align: center;
        }
    }
    // end of .banner__description

    .container {
        height: inherit;

        position: relative;
    }
      
    img {
        height: $wsize-200px;
        width: auto;

        position: absolute;
        right: $wsize-74px;
    }
}
// end of .banner