.menu,
.footer_menu {
    width: 100%;
    height: $wsize-50px;
    background-color: $white;

    .container {
        height: inherit;

        #search_panel {
            width: 96%;
            height: inherit;
            padding: $msize-10px;

            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;

            display: none;

            background-color: $white;

            &.open {
                display: block;
            }

            input {
                width: 100%;
                height: $msize-30px;
                padding-left: $msize-20px;
                
                border: 1px solid $border-grey;

                font-size: $font-size-11px;
                font-weight: 400;
                text-transform: capitalize;
                color: $font-light-grey;

                &:focus {
                    outline: none;
                }
            }
        }
        // end of #search_panel

        #search_btn {
            position: absolute;
            right: 0;
            margin-top: 2px;

            cursor: pointer;

            svg {
                width: $wsize-18px;
                height: $wsize-18px;

                fill: $font-dark-grey;
            }
        }
        // end of .search_btn
    }
    // end of .container

    ul {
        height: inherit;

        li {
            height: inherit;

            list-style: none;
        }

        a {
            height: inherit;
            padding: 0 $wsize-20px;

            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;

            font-size: $font-size-13px;
            font-weight: 700;
            letter-spacing: 0.06em;

            text-decoration: none;
            text-transform: uppercase;
            color: $font-dark-grey;

            &:hover {
                
            }
            // end of a:hover
        }
        // end of a
    }
    // end of ul
}
// end of .menu & .footer_menu

.menu {
    a:hover {
        background-color: $font-dark-grey;

        color: $white;
    }
}
// end of .menu

.footer_menu {

    a:hover {
        text-decoration: underline;
    }
}
// end of .footer_menu