$white: #fff;

$bg-grey: #eaeaea;
$bg-dark-grey: #2e2e30;
$bg-blue-grey: #b8c6c7;
$bg-dark-blue-grey: #838d8f;
$bg-green: #84ce8b;

$border-grey: #ededed;

$font-light-grey: #aaa;
$font-grey: #666;
$font-middle-grey: #3a3d3f;
$font-dark-grey: #3c3d41;
$font-black: #393d3f;
$font-blue-grey: #daddde;
$font-green: #8ad592;