$font-size-10px: 0.83vmax;
$font-size-13px: 1.08vmax;
$font-size-14px: 1.17vmax;
$font-size-52px: 4.33vmax;

$line-height-12px: 1vmax;
$line-height-13_5px: 2.71vmax;
$line-height-20px: 1.66vmax;
$line-height-62_4px: 5.2vmax;