
$wsize-4px: 0.33vw;
$wsize-8px: 0.67vw;
$wsize-9px: 0.75vw;
$wsize-10px: 0.83vw; 
$wsize-13px: 1.08vw;
$wsize-14px: 1.17vw;
$wsize-15px: 1.25vw;
$wsize-16px: 1.33vw;
$wsize-18px: 1.5vw;
$wsize-19px: 1.58vw;
$wsize-20px: 1.67vw;
$wsize-22px: 1.83vw;
$wsize-40px: 3.33vw;
$wsize-50px: 4.17vw;
$wsize-62px: 5.17vw;
$wsize-64px: 5.33vw;
$wsize-74px: 6.17vw;
$wsize-110px: 9.17vw;
$wsize-111px: 9.25vw;
$wsize-156px: 13vw;
$wsize-980px: 81.67vw;