
$wsize-4px: 0.33vw;
$wsize-8px: 0.67vw;
$wsize-9px: 0.75vw;
$wsize-10px: 0.83vw; 
$wsize-12px: 1vw;
$wsize-13px: 1.08vw;
$wsize-14px: 1.17vw;
$wsize-15px: 1.25vw;
$wsize-16px: 1.33vw;
$wsize-18px: 1.5vw;
$wsize-19px: 1.58vw;
$wsize-20px: 1.67vw;
$wsize-22px: 1.83vw;
$wsize-35px: 2.92vw;
$wsize-40px: 3.33vw;
$wsize-47px: 3.92vw;
$wsize-50px: 4.17vw;
$wsize-60px: 5vw;
$wsize-62px: 5.17vw;
$wsize-64px: 5.33vw;
$wsize-74px: 6.17vw;
$wsize-110px: 9.17vw;
$wsize-111px: 9.25vw;
$wsize-156px: 13vw;
$wsize-160px: 13.33vw;
$wsize-200px: 16.67vw;
$wsize-226px: 18.82vw;
$wsize-230px: 19.16vw;
$wsize-243px: 20.25vw;
$wsize-730px: 60.83vw;
$wsize-980px: 81.67vw;

$msize-5px: 0.42vmax;
$msize-6px: 0.5vmax;
$msize-8px: 0.66vmax;
$msize-9px: 0.75vmax;
$msize-10px: 0.83vmax; 
$msize-11px: 0.92vmax;
$msize-14px: 1.17vmax;
$msize-16px: 1.33vmax;
$msize-18px: 1.5vmax;
$msize-19px: 1.58vmax;
$msize-20px: 1.65vmax;
$msize-21px: 1.75vmax;
$msize-22px: 1.83vmax;
$msize-23px: 1.92vmax;
$msize-24px: 2vmax;
$msize-25px: 2.08vmax;
$msize-28px: 2.33vmax;
$msize-32px: 2.67vmax;
$msize-51px: 4.25vmax;
$msize-80px: 6.67vmax;
$msize-300px: 25vmax;